---
---

<div class="relative">
    <h1 class="text-green xl:text-6xl text-5xl font-semibold py-6 px-6 md:px-12 md:py-12 bg-blue">Performances</h1>

    <div class="carousel gap-6 w-full bg-blue bg-gradient-to-b from-blue to-white">
        <div class="carousel-item my-6">
            <iframe 
                class="rounded-3xl ml-6"
                width="560"
                height="315" 
                src="https://www.youtube.com/embed/ody4FZJinas?si=UNaQj1gZUXBnrm7F" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" 
                allowfullscreen 
            />
        </div>
        <div class="carousel-item my-6">
            <iframe 
                class="rounded-3xl"
                width="560"
                height="315" 
                src="https://www.youtube.com/embed/myPJoKFllBQ?si=BqLlCy0DFeWZ7PQF" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" 
                allowfullscreen 
            />
        </div>
        <div class="carousel-item my-6">
            <iframe 
                class="rounded-3xl"
                width="560"
                height="315" 
                src="https://www.youtube.com/embed/RhCa7CZXviw?si=YH3Z7jgerv6WFiCd" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" 
                allowfullscreen 
            />
        </div>
        <div class="carousel-item my-6">
            <iframe 
                class="rounded-3xl"
                width="560"
                height="315" 
                src="https://www.youtube.com/embed/0yvcR2cmjqk?si=OYYhNEskqs-NMSsD" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" 
                allowfullscreen 
            />
        </div>
        <div class="carousel-item my-6">
            <iframe 
                class="rounded-3xl"
                width="560"
                height="315" 
                src="https://www.youtube.com/embed/xIqMiibsfSc?si=WeBPmQf2OWeWK4w_" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" 
                allowfullscreen 
            />
        </div>
        <div class="carousel-item my-6">
            <iframe 
                class="rounded-3xl"
                width="560"
                height="315" 
                src="https://www.youtube.com/embed/Pfv-cXUTVLg?si=fGVDkCxAurb5rgof" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" 
                allowfullscreen 
            />
        </div>
        <div class="carousel-item my-6">
            <iframe 
                class="rounded-3xl"
                width="560"
                height="315" 
                src="https://www.youtube.com/embed/4QhGcRiC8j8?si=v1T9k4EV18qwsMSZ" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" 
                allowfullscreen 
            />
        </div>
        <div class="carousel-item my-6">
            <iframe 
                class="rounded-3xl"
                width="560"
                height="315" 
                src="https://www.youtube.com/embed/RF_w5YUE5zI?si=-_4Un-XY5K12pclt" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" 
                allowfullscreen 
            />
        </div>
        <div class="carousel-item my-6">
            <iframe 
                class="rounded-3xl"
                width="560"
                height="315" 
                src="https://www.youtube.com/embed/iFfJU3g7HIY?si=ROWZ1Tfx6Wy8YDr4" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" 
                allowfullscreen 
            />
        </div>
        <div class="carousel-item my-6">
            <iframe 
                class="rounded-3xl"
                width="560"
                height="315" 
                src="https://www.youtube.com/embed/AuJbaRRFuqw?si=iNfUil2RWQGU5zkh" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" 
                allowfullscreen 
            />
        </div>
        <div class="carousel-item my-6">
            <iframe 
                class="rounded-3xl"
                width="560"
                height="315" 
                src="https://www.youtube.com/embed/gDNfoooGNLY?si=YVnOuiheVuLEYVlg" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" 
                allowfullscreen 
            />
        </div>
      </div>

    <div class="relative py-6 mx-6 md:mx-12">
        <h1 class="text-green xl:text-6xl text-5xl font-semibold mb-6">Repertoire</h1>
        <p class="md:mr-96">
            We play a variety of selections of music of all styles. 
            For potential performances we are able to play in a variety of styles to fit any Holiday, 
            performance, festival or event. Whether you are playing in the group, 
            or interested in having our group play for you; 
            please don't hesitate to ask on any specifics regarding potential songs we can play, 
            as this list is not definitive!
        </p>
    </div>

    <div class="flex items-center justify-center mt-12">
    <div class="grid md:grid-cols-2 grid-cols-1">

        <div class="relative mx-6 md:mx-12 mb-6">
            <h1 class="xl:text-4xl text-3xl font-semibold mb-3">Popular Tunes, Movies, and More</h1>
            <ol class="list-disc list-inside space-y-5">
                <li>Lion King Soundtrack Highlights - Arrangement Calvin Custer</li>
                <li>The Nightmare Before Christmas Soundtrack Highlights - Michael Brown</li>
                <li>Aladdin Soundtrack Highlights - Arrangement John Moss</li>
                <li>Selections From Encanto - Arrangement Paul Murtha</li>
                <li>Music From the Incredibles - Arrangement Jay Bocook</li>
                <li>Pirates of the Carribean - Arrangement Ted Rickets</li>
                <li>Selections from Les Misérables - Warren Barker</li>
                <li>Star Wars Trilogy- Arranger Donald Hunsberger</li>
                <li>Oogie Boogies Theme - Michael Brown</li>
                <li>Mama Mia</li>
                <li>La La Land</li>
                <li>ET the Extraterrestrial</li>
                <li>Raiders of the Lost Ark</li>
            </ol>
        </div>

        <div class="relative mx-6 md:mx-12 mb-6">
            <h1 class="xl:text-4xl text-3xl font-semibold mb-3">Patriotic Tunes</h1>
            <ol class="list-disc list-inside space-y-5">
                <li>Amazing Grace - Frank Ticheli</li>
                <li>The Armed Forces Salute - Bob Lowden</li>
                <li>An American Spectacular - Chris Sharp</li>
                <li>The Greatest Generation - Robert W. Smith</li>
                <li>Amber Waves of Grain - James Curnow</li>
                <li>Songs from the Great War - Andrew Glover</li>
                <li>Yankee Fanfare - Travis J. Weller</li>
                <li>Various Patriotic Marches (See Marches*)</li>
            </ol>
        </div>

        <div class="relative mx-6 md:mx-12 mb-6">
            <h1 class="xl:text-4xl text-3xl font-semibold mb-3">Modern Band Selections</h1>
            <ol class="list-disc list-inside space-y-5">
                <li>Silent Movie Suite - Martin Ellerby</li>
                <li>Everest - Rosano Galante</li>
                <li>Puszta - Von Der Roost</li>
                <li>The Ash Grove - Julie Giroux</li>
                <li>Kokopelli - Anne Mcginty</li>
                <li>Hands of Mercy - Julie Giroux</li>
                <li>Arabesque - Samuel Hazo</li>
                <li>Sound and Smoke - Viet Cuong</li>
                <li>Hands of Mercy- Julie Giroux</li>
                <li>Machu Picchu City in the Sky - Satoshi Yagisawa</li>
                <li>Ruckus Randall D. Standridge</li>
                <li>Red Line Tango - John Mackey</li>
            </ol>
        </div>

        <div class="relative mx-6 md:mx-12 mb-6">
            <h1 class="xl:text-4xl text-3xl font-semibold mb-3">Marches</h1>
            <ol class="list-disc list-inside space-y-5">
                <li>Stars and Stripes Forever* - John Phillip Sousa</li>
                <li>Washington Post* - John Phillip Sousa</li>
                <li>Semper Fidelis* - John Phillip Sousa</li>
                <li>Women of the Podium* - Virginia A. Allen</li>
                <li>Chimes of Liberty* - Edwin Franko Goldman</li>
                <li>On Parade* - John Phillip Sousa</li>
                <li>Fairest of the Fair - John Phillip Sousa</li>
                <li>Xerxes - John Mackey</li>
            </ol>
        </div>

        <div class="relative mx-6 md:mx-12 mb-6">
            <h1 class="xl:text-4xl text-3xl font-semibold mb-3">Traditional Band Selections</h1>
            <ol class="list-disc list-inside space-y-5">
                <li>First Suite in Eb - Gustav Holst</li>
                <li>Waltz No. 2 - Dmitri Shostakovich</li>
                <li>Prelude, Siciliano, and Rondo - Arnold Malcolm</li>
                <li>Mars - Gustav Holst</li>
                <li>Candide Overture - Leonard Bernstein</li>
                <li>Symphonic Songs For Band - Robert Russell Bennett</li>
                <li>Tempered Steel - Charles Rochester Young</li>
                <li>October - Eric Whitacre</li>
            </ol>
        </div>

    </div>  
</div>
    
</div>