---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/navbar.svelte';
---

<Layout title="Welcome to Astro.">
	<Navbar client:visible/>
	<h1 class="text-3xl font-bold underline">Hello world.</h1>
</Layout>

<!--
	Text = 090E07
	Background = FCFEFB
	Primary = 77B45F
	Secondary = 9DD2C5
	Accent = 7ABEC2

	Alt Text = F3F8F1
	Alt Background = 020401
	Alt Primary = 63A04B
	Alt Secondary = 2D6255
	Alt Accent = 3D8185
 -->