---
import Layout from "../layouts/Layout.astro"

import Navbar from "../components/navbar.svelte"
import Header from "../components/repertoire/header.astro"
---


<Layout title="Repertoire">
    <Navbar />

    <div class="relative">
        <Header />
    </div>
</Layout>