---
---

<div class="relative md:px-12 px-6 bg-gradient-to-b from-white to-blue">
    <h1 class="text-green xl:text-6xl text-5xl font-semibold">
        About
    </h1>
    <p class="md:px-24 text-md xl:text-lg py-6">“The Yolo Community Band was founded in 2005 by music director and band leader 
        Bobby Rogers (the original name was Woodland Community Band). 
        Rogers served as music director for 17 years, 
        during which the band grew i membership and expanded its performance activities, 
        including a trip to perform at Carnegie Hall in New York City in 2017 with the 
        “Sounds of Summer International Music Festival”. 
        Our current music director and band leader is Michael Loya, the current band director at Jesuit High School, 
        formerly the band director at Woodland Senior High School. 
        Yolo Community Band is under the fiscal sponsorship of YoloArts. 
        The band performs 5 or 6 concerts annually and plays a wide range of musical styles including 
        traditional and contemporary concert band arrangements, 
        marches, popular songs and musicals, patriotic, and holiday selections. 
        Yearly concert events include a Spring Concert shared with other area community bands or school groups; 
        band festivals such as the Community Band Festival at Carmichael Park in 
        Sacramento or the Golden Gate Park music festival; the Yolo County Fair in Woodland; 
        summer concerts in local city parks; the Yolo County Veteran's Day Ceremony 
        at the County Courthouse in Woodland; and a Winter Holiday Concert in December. 
        In November 2022 we joined the UC Davis Concert Band on stage at Mondavi Center, 
        at the invitation of UCD band director Peter Nowlen. You can listen here” <br />
        <span class="text-gray-500">- Info quoted from Yolo Community Band - Davis - LocalWiki</span>
    </p>
</div>