---
---

<div class="relative md:px-12 px-6 bg-blue pb-24">

  <h1 class="text-green xl:text-6xl text-5xl font-semibold py-6">
    Frequently <br />Asked Questions  
  </h1>

    <div class="md:mx-24 py-3">
      <div class="bg-base-200 collapse">
          <input type="checkbox" class="peer" />
          <div
            class="collapse-title bg-white font-semibold flex flex-row justify-between">
            Who is invited?
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
            </svg>
            
          </div>
          <div
            class="collapse-content bg-white">
            <p> We take the word Community very seriously! We rarely say no to new membership trials and try to embrace all skill levels. Whether you are fairly new to music or trying to get back into the mix of things and used to play frequently, we hope we can be a good fit for your schedule and time. It is important to note that the band does play fairly challenging literature regularly and our typical recommended age for involvement (skillset wise) tends to be high school level or beyond. Though we always have variables (we have the rare occasional middle schoolers who have had private lessons and outplay some of the tenured adults!)</p>
          </div>
      </div>
    </div>

    <div class="md:mx-24 py-3">
      <div class="bg-base-200 collapse">
          <input type="checkbox" class="peer" />
          <div
            class="collapse-title bg-white font-semibold flex flex-row justify-between">
            Are there dues?
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
            </svg>
            
          </div>
          <div
            class="collapse-content bg-white">
            <p>Yolo Community Band does have membership dues. <br />For Individual - $30 per quarter. <br />For Family (multiple musicians under the same household) - $50 per quarter</p>
          </div>
      </div>
    </div>

    <div class="md:mx-24 py-3">
      <div class="bg-base-200 collapse">
          <input type="checkbox" class="peer" />
          <div
            class="collapse-title bg-white font-semibold flex flex-row justify-between">
            Are instruments provided?
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
            </svg>
            
          </div>
          <div
            class="collapse-content bg-white">
            <p>No, Yolo Community Band relies on its Dues to cover performance venues, events, director payments, music literature, organizational membership, equipment, and sometimes to hire specialized musicians to cover parts of music that are not covered by the instrumentation/or quantity of section of the group. Sadly there is not enough sustainable funding to support having an option renting out instruments to all involved, nor does Yolo Band have its own stock of instruments at this time. We encourage you to not let that detract your involvement and talk to a local music vendor/repair shop and inquire about
              ​options to rent an instrument so you can join us!</p>
          </div>
      </div>
    </div>

</div>