---
---

<div class="relative w-screen px-3 mb-24 border-2 border-green grid md:grid-cols-3 md:grid-flow-row md:grid-rows-1 grid-rows-3 grid-flow-col">
    <div class="relative grid grid-cols-5 md:grid-cols-2 content-center items-center md:my-24">
        <svg 
            xmlns="http://www.w3.org/2000/svg" 
            fill="none" 
            viewBox="0 0 24 24" 
            stroke-width="1.0" 
            stroke="currentColor" 
            class="md:size-16 size-12 my-3 md:place-self-center">
                <path stroke-linecap="round" 
                    stroke-linejoin="round" 
                    d="M9 6.75V15m6-6v8.25m.503 3.498 4.875-2.437c.381-.19.622-.58.622-1.006V4.82c0-.836-.88-1.38-1.628-1.006l-3.869 1.934c-.317.159-.69.159-1.006 0L9.503 3.252a1.125 1.125 0 0 0-1.006 0L3.622 5.689C3.24 5.88 3 6.27 3 6.695V19.18c0 .836.88 1.38 1.628 1.006l3.869-1.934c.317-.159.69-.159 1.006 0l4.994 2.497c.317.158.69.158 1.006 0Z" 
                />
        </svg>
        <div class="col-span-4 md:col-span-1 grid grid-cols-4 md:grid-rows-2 md:grid-flow-col md:items-center md:justify-start">
            <span class="md:text-3xl text-xl col-span-2">Directions</span>
            <span class="md:text-lg text-xs font-thin col-span-2 md:col-span-4">1220 Drexel Dr, Davis CA 95616</span>
        </div>
      </div>

      <div class="relative grid grid-cols-5 md:grid-cols-2 content-center items-center">
        <svg 
            xmlns="http://www.w3.org/2000/svg" 
            fill="none" viewBox="0 0 24 24" 
            stroke-width="1.0" 
            stroke="currentColor" 
            class="md:size-16 size-12 my-3 md:place-self-center">
                <path 
                    stroke-linecap="round" 
                    stroke-linejoin="round" 
                    d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" 
                />
          </svg>
          
        <div class="col-span-4 md:col-span-1 grid grid-cols-4 md:grid-rows-2 md:grid-flow-col md:items-center md:justify-start">
            <span class="md:text-3xl text-xl col-span-2">Email</span>
            <span class="md:text-lg text-xs font-thin col-span-2 md:col-span-4">yolocommunityband<br class="inline lg:hidden"/>@gmail.com</span>
        </div>
      </div>

      <div class="relative grid grid-cols-5 md:grid-cols-2 content-center items-center">
        <svg 
            xmlns="http://www.w3.org/2000/svg" 
            fill="none" viewBox="0 0 24 24" 
            stroke-width="1.0" 
            stroke="currentColor" 
            class="md:size-16 size-12 my-3 md:place-self-center">
                <path 
                    stroke-linecap="round" 
                    stroke-linejoin="round" 
                    d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" 
                />
          </svg>
          
        <div class="col-span-4 md:col-span-1 grid grid-cols-4 md:grid-rows-2 md:grid-flow-col md:items-center md:justify-start">
            <span class="md:text-3xl text-xl col-span-2 md:col-span-4">Rehearsal <br class="inline md:hidden" />Times</span>
            <span class="md:text-lg text-xs font-thin col-span-2 md:col-span-4">Every Wednesday<br />7:00 PM-9:00 PM</span>
        </div>
      </div>
      
</div>