---
import {Image} from "astro:assets"
import portrait from "../../public/ycb-portrait-cropped.jpg"
import circle from "../../public/circle-gradient.jpg"
---

<div class="relative xl:mt-12 flex flex-col sm:flex-row items-center justify-center">
    <div class="basis-1/2 mx-6 xl:mx-12 mt-3 order-last sm:order-first z-20">
        <h1 class="text-4xl xl:text-6xl font-semibold">
            Welcome to the <br />
            <span class="text-green">Yolo Community <br />
            Band</span>
        </h1>
        <div class="relative">
            <p id="anim-p" class="p-6 text-sm xl:text-lg">
                Yolo Community Band has a goal to foster community through 
                the passion of our musicianship, artistry, and friendship.
                <br />
                <br />
                We not only believe this to be true within what we put 
                into every rehearsal and moment together as an ensemble, 
                but have a goal and hope that our sharing of our fellowship and musicality 
                will have a positive impact on many in the Yolo community and beyond.</p>
        </div>
    </div>

    <div class="relative px-12 mx-12 pb-24 basis-1/2 flex flex-row justify-center overflow-clip pb-6">
        <div class="z-10 w-11/12 xl:w-4/5 h-full ">
            <Image class="rounded-3xl" src={portrait} alt="YCB portrait"/>
        </div>
        <div class="absolute">
            <Image src={circle} alt="Gradient Circle" />
        </div>
    </div>
</div>